AI-review-sentiment-automation.json
{
  "name": "AI-review-sentiment-automation",
  "nodes": [
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "150vzgDlzE-fWqU2pHcNJtTYh1GEwUIC6nGNKSdtkaKM",
          "mode": "list",
          "cachedResultName": "Brandenburg Gate sentiment analysis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/150vzgDlzE-fWqU2pHcNJtTYh1GEwUIC6nGNKSdtkaKM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/150vzgDlzE-fWqU2pHcNJtTYh1GEwUIC6nGNKSdtkaKM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.publishTime }}",
            "Rating": "={{ $json.rating }}",
            "Sentiment": "={{ $json.sentimentAnalysis.category }}",
            "Review Text": "={{ $json.originalText.text }}"
          },
          "matchingColumns": [
            "Date"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Review Text",
              "displayName": "Review Text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "4a4b2f78-d043-4853-980d-f24c3f5139dd",
      "name": "Update Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2032,
        480
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
            "name": "YOUR_GOOGLE_SHEETS_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "gina831127@gmail.com",
        "subject": "Brandenburg Gate Review Category Report",
        "emailType": "text",
        "message": "=Dear Team,\n\nHere is the latest Google Review category analysis.\n\nThe chart is attached.\n\nBest,\nAutomated Sentiment Analysis System",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "id": "952e3afc-c5a3-4faf-92e1-a467399bc7c8",
      "name": "Send Gmail with Sentiment Chart",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2880,
        480
      ],
      "webhookId": "WEBHOOK_ID_WILL_BE_GENERATED",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
            "name": "YOUR_GMAIL_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        816,
        448
      ],
      "id": "b88a4736-9ff0-42fb-88a2-5184ebc5e336",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "=https://places.googleapis.com/v1/places/ChIJiQnyVcZRqEcRY0xnhE77uyY",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Api-Key",
              "value": " AIzaSyAHoUYUSG6qCOmUNssgwucWjsSy4XJhbZk"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "reviews,displayName,rating"
            },
            {
              "name": "Content-Type",
              "value": "applicaition/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1040,
        448
      ],
      "id": "2721abe4-c09a-49c9-a34a-db6d67dc56c2",
      "name": "HTTP Request",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// This tells n8n to take the \"reviews\" list and turn it into individual items\nconst reviews = $input.first().json.reviews;\n\nreturn reviews.map(review => {\n  return {\n    json: review\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        448
      ],
      "id": "b97707d2-0406-41cb-bb56-77afc5c4a427",
      "name": "Code node for clean text"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1488,
        800
      ],
      "id": "4c5a1864-2a31-441c-b0bd-00834c2e3739",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
            "name": "YOUR_openAi_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "150vzgDlzE-fWqU2pHcNJtTYh1GEwUIC6nGNKSdtkaKM",
          "mode": "list",
          "cachedResultName": "Brandenburg Gate sentiment analysis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/150vzgDlzE-fWqU2pHcNJtTYh1GEwUIC6nGNKSdtkaKM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/150vzgDlzE-fWqU2pHcNJtTYh1GEwUIC6nGNKSdtkaKM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2240,
        480
      ],
      "id": "361cd474-e0ba-4bce-99ac-de765fbfc705",
      "name": "Get row(s) in sheet",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
            "name": "YOUR_GOOGLE_SHEETS_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const counts = {\n  Travel: 0,\n  Architecture: 0,\n  Service: 0,\n  Crowds: 0,\n  History: 0\n};\n\nfor (const item of items) {\n  const sentiment = item.json.Sentiment;\n\n  if (counts[sentiment] !== undefined) {\n    counts[sentiment]++;\n  }\n}\n\nreturn [\n  {\n    json: {\n      labels: Object.keys(counts),\n      values: Object.values(counts),\n      summary: counts\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        480
      ],
      "id": "57a3b5ef-f589-4965-8ef4-eef0d78ae914",
      "name": "Count Sentiment Categories"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://quickchart.io/chart",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  chart: {\n    type: \"doughnut\",\n    data: {\n      labels: $json.labels,\n      datasets: [\n        {\n          label: \"Review Categories\",\n          data: $json.values\n        }\n      ]\n    }\n  },\n  width: 600,\n  height: 400,\n  format: \"png\"\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2656,
        480
      ],
      "id": "141579bd-639b-4541-a1ef-02b8f63a36ad",
      "name": "Create QuickChart URL"
    },
    {
      "parameters": {
        "inputText": "={{ $json.text.text }}",
        "options": {
          "categories": "Travel, Architecture, Service, Crowds, History",
          "systemPromptTemplate": "\"You are a travel data assistant. Analyze the following review of the Brandenburg Gate. Determine if the overall tone is Positive, Negative, or Neutral. Respond with exactly one of those three words.\"\n\nRules:\n- Choose the MOST dominant topic.\n- If multiple topics exist, pick the primary one.\n- Do not output anything outside JSON.",
          "includeDetailedResults": false,
          "enableAutoFixing": true
        }
      },
      "id": "76118dc2-c52d-4a1a-aba2-981a62d4a28a",
      "name": "Review Classification",
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "position": [
        1488,
        432
      ],
      "retryOnFail": false,
      "typeVersion": 1,
      "alwaysOutputData": false
    }
  ],
  "pinData": {},
  "connections": {
    "Update Google Sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code node for clean text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code node for clean text": {
      "main": [
        [
          {
            "node": "Review Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Review Classification",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Count Sentiment Categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Sentiment Categories": {
      "main": [
        [
          {
            "node": "Create QuickChart URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create QuickChart URL": {
      "main": [
        [
          {
            "node": "Send Gmail with Sentiment Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review Classification": {
      "main": [
        [
          {
            "node": "Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2980871b-5c1a-4a7c-9464-38714b237e52",
  "meta": {
    "templateId": "5204",
    "templateCredsSetupCompleted": true,
    "instanceId": "0c8de142d0f47cc37ef00b985ab7d9df20677f00ddaa110881f8a31a0882712b"
  },
  "id": "efhsGWJp4P3UZivT",
  "tags": []
}
